@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

@import 'components/variables';
@import 'components/navigation';
@import 'components/typography';
@import 'components/button';
@import 'components/animation';

body {
    font-family: 'Open Sans', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a, p, a:hover {
    text-decoration: none;
}
.hero {
    background-color: #87C87E;
    position: fixed;
    top: 90px;
    z-index: 0;
    height: 100vh;
    width: 100%;
    text-align: left;
    
    .home-slider {
        position: relative;
        display: block;
        box-sizing: border-box;
        height: 100%;
    }
    
    .hero-block {
        display: flex;
        padding: 0;
        width: 100%;
        overflow: hidden;
        
        &:before {
             content: '';
             background-image: url(../../dist/img/bg-icons.png);
             position: absolute;
             top: 0;
             left: 0;
             height: 100%;
             width: 100%;
             opacity: .05;
           }
        
        li.animated {
            list-style: none;
            width: 100%;
            justify-content: space-around;
            
            &.graphic {
                background-color: #78C96C;
                padding:20px 40px 20px 0;
                -webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
                clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);
                -webkit-animation-delay: .5s;
                animation-delay: .5s;
            }
            
            &.text {
                -webkit-animation-delay: .75s;
                animation-delay: .75s;
                
                
                .row {
                    margin-top: 110px;
                    .text-col {
                       
                    }
                    h1 {
                        color: #fff;
                        font-size: 36px;
                        font-weight: 100;
                        margin-bottom: 20px;
                    }
                    
                }
            }
            
            &.image {
                width: 25%;
                -webkit-animation-delay: 1s;
                animation-delay: 1s;
                
                img {
                    -webkit-clip-path: polygon(15% 0%, 80% 0%, 65% 100%, 0% 100%);
                    clip-path: polygon(15% 0%, 80% 0%, 65% 100%, 0% 100%);
                }
            }
        }
    }
}

.content {
    display: block;
    position: relative;
    margin-top: calc(100vh + 60px);
    background-color: #ffffff;
    box-shadow:  0 -3px 1px 0 rgba(0,0,0,.15);
    
    .content-1 {
        position: relative;
        z-index: 2;
        padding: 100px 0;
        border-bottom: 1px solid $primary-color;
            
            
        .content-header {
            text-align: center;
            
            .sub-header {
                width: 80%;
                margin-right: auto;
                margin-left: auto;
                position: relative;
                padding-bottom: 50px;
                
                &:after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -100px;
                    height: 4px;
                    border-left: 100px solid $green-deep;
                    border-right: 100px solid $accent-color;
                }
            }
        }
        
        .about-us {
            padding-top: 70px;
            padding-bottom: 70px;
            
            .col-about {
                text-align: center;
                
                h3.d-title {
                    font-size: 28px;
                    font-weight: 100;
                    color: $text1;
                }
                p.d-info {
                    font-size: 16px;
                    color: $accent-color;
                }
                
                .icon {
                    width: 56px;
                    height: 56px;
                    display: block;
                    margin-right: auto;
                    margin-left: auto;
                    min-height: 81px;
                    overflow: hidden;
                    background-repeat: no-repeat;
                    
                    &.icon-dev {
                        background-image: url(../../dist/img/icons/robot.png);
                        height: 81px;
                    }
                    &.icon-design {
                        background-image: url(../../dist/img/icons/vector.png);
                    }
                    &.icon-data {
                        background-image: url(../../dist/img/icons/layers.png);
                    }
                    &.icon-drive {
                        background-image: url(../../dist/img/icons/binary-code.png);
                    }
                }
            }
        }
    }
    
    .content-2 {
        position: relative;
        z-index: 2;
        padding: 100px 0;
        border-bottom: 1px solid $primary-color;
        
        .content-header {
            text-align: center;
            
            .big-header {
                position: relative;
                padding-bottom: 30px;
                
                &:after {
                    content: "";
                    position: absolute;
                    top: 100%;
                    left: 50%;
                    margin-left: -100px;
                    height: 4px;
                    border-left: 100px solid $green-deep;
                    border-right: 100px solid $accent-color;
                }
            }
        }
        
        .case-rows {
            
            .case-link {
                display: block;
                position: relative;
                padding-bottom: 30px;
                height: 360px;
                overflow: hidden;
                
                .case-img {
                    height: 100%;
                    overflow: hidden;
                    display: block;
                    position: relative;
                    
                    &:after {
                            content: "";
                            position: absolute;
                            left: 0;
                            top: 0;
                            height: 100%;
                            width: 100%;
                            overflow: hidden;
                            background-color: #282828;
                            opacity: .5;
                        }
                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
                .case-non-img {
                    height: 100%;
                    overflow: hidden;
                    display: block;
                    position: relative;
                    
                    
                    .non-img-caption {
                        padding: 50px 20px;
                        
                        p {
                            color: #ffffff;
                            font-size: 28px;
                        }
                    }
                    
                    &.case-non-1 {
                        background-color: $green-deep;
                    }
                    &.case-non-2 {
                        background-color: $primary-color;
                    }
                    &.case-non-3 {
                        background-color: $green-1;
                    }
                }
                .case-caption {
                    position: absolute;
                    width: 100%;
                    top: 70%;
                    
                    p {
                        text-align: center;
                        color: #ffffff;
                        font-size: 16px;
                        font-weight: bold;
                    }
                }
                .case-indicator {
                    position: absolute;
                    width: 67px;
                    height: 67px;
                    top: 35%;
                    left: 40%;
                    background-image: url(../../dist/img/case-img/indicator.png);
                    background-repeat: no-repeat;
                    
                    &:hover {
                        cursor: pointer;
                        transition: all .5s ease;
                        -webkit-transform: rotate(360deg);
                        -ms-transform: rotate(360deg);
                        transform: rotate(360deg);
                    }
                }
            }
        }
    }
}

.more-btn {
    
    .more-btn-ul {
        text-align: center;
        display: block;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        
        li {
            list-style: none;
            display: inline-block;
            padding-right: 25px;
        }
    }
}
