.btn {
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
}
.btn-inquiry {
    border: 3px solid #fff;
    background-color: $green2;
    color: #fff;
    
    &:hover {
        background-color: $green-1;
        border: 2px solid $green-1;
        color: #ffffff;
        padding-left: 5px;
        
        span {
            -webkit-transform: translateX(-10px);
            -ms-transform: translateX(-10px);
            transform: translateX(-10px);
        }
    }
}
.btn-more {
    border: 3px solid $primary-color;
    background-color: #fff;
    color: $primary-color;
    
    &:hover {
        background-color: $primary-color;
        color: #ffffff;
        border: 3px solid $primary-color;
        padding-left: 5px;
        transition: all .25s ease;
    }
}
.btn-custom {
    color: #ffffff;
     font-size: 13px;
     background-color: $primary-color;
    
    &:hover {
        background-color: #fff;
        color: $primary-color;
        border: 1px solid $primary-color;
    }
}
