//colors

$top-nav-bg: #EFEFEF;
$accent-color: #81A1B5;
$primary-color: #00BEC1;
$green-1: #78C96C;
$green2: #87C87E;
$green-deep: #00D55E;
$text1: #55565A;

.mg-10 {
    margin-bottom: 10px;
}

.mg-20 {
    margin-bottom: 20px;
}

.mg-30 {
    margin-bottom: 30px;
}